@model UniBook.Web.Areas.Administration.ViewModels.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr class="bg-light">
                                <th class="border-top-0">Books</th>
                                <th class="border-top-0">Author</th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model.Books)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <h4 class="m-b-0 font-16">@book.Name</h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@book.Author</td>
                                    <td><a asp-area="Administration" asp-controller="Dashboard" asp-action="Delete"  asp-route-id="@book.Id" class="btn btn-danger">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card has-shadow">
                <div class="card-body border-top">
                    <h4 class="card-title">Forum Posts</h4>
                    <table class="table mb-0">
                        <tbody>
                            @foreach (var post in Model.Posts)
                            {
                                <tr>
                                    <td>@post.Title</td>
                                    <td>@post.Author</td>
                                    <td>@post.Comments.Count</td>
                                    <td>
                                        <a asp-area="" asp-controller="" asp-action="" asp-route-id="@post.Id" class="btn btn-info">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>UserId</th>
                                <th>Username</th>
                                <th>Posts</th>
                                <th>Favorite Books</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.Id</td>
                                    <td>@user.UserName</td>
                                    <td>@user.Posts.Count</td>
                                    <td>1</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>