@model List<NewsViewModel>

@{
    var firstNews = this.Model.FirstOrDefault();
}
<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
    </nav>
</section>
<section id="newsSection">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="latest_newsarea">
                <span>Latest News</span>
                <ul id="ticker01" class="news_sticker">
                </ul>
                <div class="social_area">
                    <ul class="social_nav">
                        <li class="facebook"><a href="#"></a></li>
                        <li class="twitter"><a href="#"></a></li>
                        <li class="flickr"><a href="#"></a></li>
                        <li class="pinterest"><a href="#"></a></li>
                        <li class="googleplus"><a href="#"></a></li>
                        <li class="vimeo"><a href="#"></a></li>
                        <li class="youtube"><a href="#"></a></li>
                        <li class="mail"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sliderSection">
    <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide col-md-6" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a asp-controller="News" asp-action="Details" asp-route-id="@firstNews.Id">
                        <img src="@firstNews.ImageUrl" class="d-block w-100 h-50" />
                    </a>
                    
                    <div class="carousel-caption d-none d-md-block">
                        <p>@firstNews.Title</p>
                    </div>
                </div>
                @foreach (var news in Model.Skip(1))
                {
                    <div class="carousel-item">
                        <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id">
                            <img src="@news.ImageUrl" class="d-block w-100 h-50" />
                        </a>


                        <div class="carousel-caption d-none d-md-block">
                            <p>@news.Title</p>
                        </div>
                    </div>
                }

            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="col-md-6">
            <div class="latest_post">
                <h2><span>Latest post</span></h2>
                <div class="latest_post_container">
                    <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                    <ul class="latest_postnav">
                        @foreach (var article in Model.Take(5))
                        {
                            <li>
                                <div class="media">
                                    <a asp-controller="News" asp-action="Details" asp-route-id="@article.Id" class="media-left">
                                        <img alt="@article.ImageUrl" src="@article.ImageUrl">
                                    </a>
                                    <div class="media-body">
                                        <a asp-controller="News" asp-action="Details" asp-route-id="@article.Id" class="catg_title">@article.Title</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contentSection"></section>