@model DetailsPostViewModel

<div class="card border-success mb-3 w-100">
    <div class="card-header text-justify text-dark">@Model.Title</div>
    <div class="card-body text-dark">
        <p class="card-text">@Model.Content</p>
    </div>

    <div class="card-footer text-danger">@Model.Author</div>
</div>

<button class="btn btn-primary" onclick="addComment()">Добави коментар</button>

<div id="comment-body" class="container pb-cmnt-container hidden">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form asp-controller="Posts" asp-action="AddComment" class="form-inline" method="post">
                        <textarea class="pb-cmnt-textarea" name="body"></textarea>
                        <input hidden="hidden" name="postId" value="@Model.Id" />
                        <input class="btn btn-primary pull-right" type="submit" value="Добави коментар" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addComment() {
        $('#comment-body').show('slow').removeClass('hidden');
    }
</script>

<style>
    .pb-cmnt-container {
        font-family: Lato;
        margin-top: 100px;
    }

    .pb-cmnt-textarea {
        resize: none;
        padding: 20px;
        height: 130px;
        width: 100%;
        border: 1px solid #F2F2F2;
    }
</style>

@if (Model.Comments.Count > 0)
{
    <ul class="list-group">
        @foreach (var comment in Model.Comments)
        {
            <li class="bg-dark mb-3 list-group-item d-flex justify-content-between align-items-center">
                @comment.CommentBody
                <span class="badge badge-primary badge-pill">@comment.UserName</span>

                @if (comment.CommentUserId == comment.LoggedUserId)
                {
                    <form asp-controller="Posts" asp-action="DeleteComment" method="post" >
                        <input hidden="hidden" name="postId" value="@Model.Id" />
                        <input hidden="hidden" name="userId" value="@comment.CommentUserId" />
                        <input type="submit" class="btn btn-danger" value="Изтрий"/>
                    </form>
                    }
            </li>
        }
    </ul>
}