@model BooksListViewModel

@{ this.ViewData["Title"] = "Home Page"; }

@{ 
    var years = this.Model.Years.OrderByDescending(x => x).Select(y => 
    new SelectListItem(y.ToString(), y.ToString()));
}
<script>
    function sort() {
        const divItem = $('.dropdown-menu');

        if (divItem.attr('hidden')) {
            divItem.removeAttr('hidden');
            divItem.show('slow');
        } else {
            divItem.attr('hidden', 'hidden');
            divItem.hide('slow');
        }
        console.log(divItem.attr('hidden'));
    }
</script>

<div class="container pt-5 pl-lg-4 my-3 bg-dark text-white">
    <div class="row">
        <div class="col-md-8 order-md-2 col-lg-9 ml-lg-auto">
            <div class="container-fluid">
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="dropdown text-md-left text-center float-md-left mb-3 mt-3 mt-md-0 mb-md-0 bg-dark">
                            <label class="mr-2">Сортирай :</label>
                            <button class="btn btn-lg btn-dark dropdown-toggle" onclick="sort()"></button>
                            <div class="dropdown-menu bg-white" hidden="hidden">
                                <a asp-controller="Books" asp-action="SortAlphabetical" class="dropdown-item bg-white h4">Азбучен ред</a>
                                <a asp-controller="Books" asp-action="SortByLikes" class="dropdown-item bg-white h4">Харесвания</a>
                                <a asp-controller="Books" asp-action="SortLatestAdded" class="dropdown-item bg-white h4">Последно добавени</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var book in Model.Books)
                    {
                        <div class="d-inline m-md-3 bg-white">
                            <img width="200" height="150" src="@book.ImageUrl">
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <a style="max-width: 190px;" class="font-weight-bold text-dark text-uppercase small">
                                        @book.Name
                                    </a>
                                </h4>
                                <h5 class="card-price small text-warning">
                                    <i>
                                    </i>
                                </h5>

                                <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary">Детайли</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <form class="form-group ml-md-3" asp-controller="Books" asp-action="Search" method="get">
            <h3 class="mt-0 mb-5 text-white pr-3">Tърсене</h3>

            <h6 class="text-uppercase font-weight-bold mb-3 text-white pr-3">Автор</h6>
            <input class="form-control mr-3 w-100 pr-3" name="author" type="text" placeholder="Намери автор"
                   aria-label="Search">

            <h6 class="text-uppercase font-weight-bold mb-3 text-white pr-3">Книга</h6>
            <input class="form-control w-100" type="text" name="bookName" placeholder="Намери книга"
                   aria-label="Search">

            <div>
                <h6 class="text-uppercase font-weight-bold mb-3 text-white pr-3">Година</h6>
                <select name="year" asp-items="years"></select>
            </div>


            <div class="divider mt-5 mb-5 border-bottom border-secondary pr-3"></div>

            <h6 class="text-uppercase mt-5 mb-3 font-weight-bold text-white pr-3">Жанр</h6>
            @foreach (var genre in Model.Genres)
            {
                <div class="form-check pr-3">
                    <label class="form-check-label">
                        <input type="checkbox" onclick="check()" class="form-check-input" name="genre" value="@genre.Name">
                        <span class="ml-md-4">@genre.Name</span>
                    </label>
                </div>
            }

            <div class="divider mt-5 mb-5 border-bottom border-secondary pr-3"></div>

            <div>
                <label class="form-check-label p-3 pr-3">
                    <input type="checkbox" name="freeBook" class="form-check-input pm-3">
                    <span class="ml-md-4">Свободни</span>
                </label>
            </div>

            <div>
                <label class="form-check-label p-3 pr-3">
                    <input type="checkbox" name="paidBook" class="form-check-input pm-3">
                    <span class="ml-md-4">Платени</span>
                </label>
            </div>
            <input type="submit" class="btn btn-lg btn-block btn-primary mt-5 pr-3" value="Търсене" />

        </form>
    </div>
</div>

<script>
    function check() {
        $(this).prop('checked', 'checked');
        //const checkbox = $('input[type=checkbox]');
        //checkbox.attr('checked', 'checked');
    }
</script>

@{
    var pagination = Model.PaginationViewModel;
}

@(await Component.InvokeAsync<PaginationViewComponent>(pagination))
