@model DetailsBookViewModel 

<div id="container">
    <div class="product-details">
        <h1>@Model.Name</h1>
        <div>
            <p>@Model.Description</p>
        </div>

        <div class="control">
            @if (Model.IsFree)
            {
                <span class="price">Безплатна</span>
                <button class="btn">
                    <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                    <span class="buy"></span>
                    <a class="btn btn-info" asp-area="" asp-controller="Books" asp-action="ReadBook" asp-route-id="@Model.BookId">Чети онлайн</a>
                </button>
            }
            else
            {
                <span class="price">Платена</span>
                <button class="btn">
                    <a asp-controller="Payments" asp-action="PayBook" asp-route-id="@Model.BookId" class="page-link">Купи</a>
                </button>
            }
            <button type="button" class="btn btn-success"
                    onclick="likeBook()">
                Харесва ми
            </button>
        </div>
    </div>

    <div class="product-image">
        <img src="@Model.ImageUrl" alt="BookImage">
    </div>
</div>

<script>
    const bookId = @Html.Raw(Json.Serialize(Model.BookId));
    
    function likeBook() {
        const data = {
            bookId: bookId,
        };

        const jsonData = JSON.stringify(data);

        $.ajax({
            url: '/api/Users/Book',
            method: 'POST',
            data: jsonData,
            contentType: 'application/json',
        });
    }
</script>