@model PostViewModel

@{ 
    var categories = Model.Categories
        .Select(c => new SelectListItem(c.Name.ToString(), c.Id.ToString()));
}

<div class="container text-white">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-white">Задаване на въпрос</h1>

            <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                tinyMCE.init({
                selector: "textarea",
                plugins: [
                    "image paste table link code media"
                ]
            });</script>

            <form method="post" asp-area="Forum">
                <div>
                    <label asp-for="@Model.Title">Заглавие</label>
                    <input asp-for="@Model.Title" class="form-control" />
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="@Model.Content">Съдържание</label>
                    <textarea asp-for="@Model.Content" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Content" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="@Model.CategoryId">Категория</label>
                    <select asp-for="@Model.CategoryId" asp-items="categories" class="form-control">
                       
                    </select>
                    <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                </div>
                <hr />
                <input type="submit" class="btn btn-primary" value="Изпрати" />
            </form>
        </div>
    </div>
</div>