@model DetailsPostViewModel

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" data-abc="true">@Model.Author</a>
                        </div>
                        <div class="text-muted small ml-3">
                            <div><strong>@Model.Comments.Count</strong>comments</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="text-dark">@Html.Raw(@Model.SanitizedContent)</p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="px-4 pt-3"> 
                        <button type="button" class="btn btn-primary" onclick="addComment()">
                            <i class="ion ion-md-create"></i>&nbsp; Добави коментар
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="comment-body" class="container pb-cmnt-container hidden">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form asp-area="Forum" asp-action="AddCommentAsync" class="form-inline" method="post">
                        <textarea class="pb-cmnt-textarea" name="body"></textarea>
                        <input hidden="hidden" name="postId" value="@Model.Id" />
                        <input class="btn btn-primary pull-right" type="submit" value="Добави коментар" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addComment() {
        $('#comment-body').show('slow').removeClass('hidden');
    }
</script>

<style>
    .pb-cmnt-container {
        font-family: Lato;
        margin-top: 100px;
    }

    .pb-cmnt-textarea {
        resize: none;
        padding: 20px;
        height: 130px;
        width: 100%;
        border: 1px solid #F2F2F2;
    }
</style>

@if (Model.Comments.Count > 0)
{
    <ul class="list-group">
        @foreach (var comment in Model.Comments)
        {
            <li class="bg-dark mb-3 list-group-item d-flex justify-content-between align-items-center">
                @comment.Body
                <span class="badge badge-primary badge-pill">@comment.UserName</span>

                @if (comment.PostId == comment.LoggedUserId)
                {
                    <form asp-area="Forum" asp-action="DeleteComment" method="post">
                        <input hidden="hidden" name="postId" value="@Model.Id" />
                        <input hidden="hidden" name="userId" value="@comment.PostId" />
                        <input type="submit" class="btn btn-danger" value="Изтрий" />
                    </form>
                }
            </li>
        }
    </ul>
}